<!DOCTYPE html>

<html xmlns:th="[http://www.thymeleaf.org](http://www.thymeleaf.org/)">

<head>
	<title>Search Passwords</title>
	<link th:href="@{/css/style.css}" rel="stylesheet" />
	<!-- Author:      Sarah McCrie
        Program:      searchPasswordRecord.html
        Date:         [10-07-2023]
        Updated:      [10-012-2023] 
        Version:      1.0     
        Description:  This is my assignment 2 searchPasswordRecord page
    -->
    <link rel="icon" type="image/x-icon" th:href="@{/images/icon.png/}" />
</head>

<body>
	<div class="imageAndHeadingSearch">
		<img class="lockImageSearch" th:src="@{/images/unlock.png}" alt="Lock Image" />
		<h1>Search Passwords</h1>
	</div>
	<div class="linkHolder">
		<a th:href="@{/}">Return to Homepage</a>
		<a th:href="@{/viewPasswordRecord}">View Password Records</a>
	</div>
	<div class="formarea">
		<form method="post" action="#" th:action="@{/searchPasswordRecord}"     th:object="${password}">

			<div class="labelAndInput"> <label class="label">ID:</label> <input type="number" class="searchId"
					th:field="*{id}" /> </div> <br>

			<input type="submit" class="searchRecordButton" value="Search by ID!" id="searchRecordButton" />

		</form>
	</div>

	<p class="noRecords" th:if="${isIdMatching==false}">There are no matching records to the ID entered.</p>

	<div th:if="${isIdMatching==true}" class="tableArea">
		<table>
			<tr>
				<th>ID</th>
				<th>Title</th>
				<th>Username</th>
				<th>Password</th>
				<th>URL</th>
				<th>Email</th>
				<th>Notes</th>
			</tr>

			<tr>
				<td th:text="${foundPassword.id}"></td>
				<td th:text="${foundPassword.title}"></td>
				<td th:text="${foundPassword.username}"></td>
				<td th:text="${foundPassword.password}"></td>
				<td th:text="${foundPassword.url}"></td>
				<td th:text="${foundPassword.email}"></td>
				<td th:text="${foundPassword.notes}"></td>
			</tr>
		</table>
	</div>
</body>

</html>