<!DOCTYPE html>

<html xmlns:th="[http://www.thymeleaf.org](http://www.thymeleaf.org/)">

<head>
	<title>View Passwords</title>
	<link th:href="@{/css/style.css}" rel="stylesheet" />
	<!-- Author:      Sarah McCrie
        Program:      view PasswordRecord.html
        Date:         [10-07-2023]
        Updated:      [10-12-2023] 
        Version:      1.0     
        Description:  This is my assignment 2 viewPasswordRecord page
    -->
    <link rel="icon" type="image/x-icon" th:href="@{/images/unlock.png/}" />
</head>

<body>
	<div class="fullPage">
		<div class="imageAndHeadingView">
			<img class="lockImageSearch" th:src="@{/images/vault.png}" alt="Lock Image" />
			<h1>View Passwords</h1>
		</div>
		<div class="linkHolder">
			<a th:href="@{/}">Return to Homepage</a>
			<a th:href="@{/searchPasswordRecord}">Search Password Records</a>
		</div>
		<div th:if="${not #lists.isEmpty(passwordList)}">
			<table>
				<tr>
					<th>ID</th>
					<th>Title</th>
					<th>Username</th>
					<th>Password</th>
					<th>URL</th>
					<th>Email</th>
					<th>Notes</th>
				</tr>

				<tr th:each="aPassword:${passwordList}">
					<td th:text="${aPassword.id}"></td>
					<td th:text="${aPassword.title}"></td>
					<td th:text="${aPassword.username}"></td>
					<td th:text="${aPassword.password}"></td>
					<td th:text="${aPassword.url}"></td>
					<td th:text="${aPassword.email}"></td>
					<td th:text="${aPassword.notes}"></td>
				</tr>
			</table>
		</div>
	</div>
	<p class="noRecords" th:if="${#lists.isEmpty(passwordList)}">There are currently no records to view. <br> Please return to the
    home page to enter a record.</p>

</body>

</html>